.admin-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: #f0f2f5;
  overflow-x: hidden;
}

.site-layout {
  flex: 1;
  background: #f0f2f5;
  margin-left: 250px;
  transition: margin 0.2s;
  min-height: 100vh;
}

@media (max-width: 992px) {
  .site-layout {
    margin-left: 0;
  }
}