label {
    color: black;
    
}
body{background-color: aliceblue;}

.head{
  text-align: center;
}

.table{
        width: 800px;
        margin-left: 700px;
        margin-top: 100px;
        
    }

.ant-table-thead > tr > th{
    background-color: blue;
    color:white;
}

.file-container{
    width:fit-content;
    border-color: black;
    border-style: 5px solid;
    
}

.btns{
    width:200px;
}

.Documents-container{
 width: 900px;
 background-color: aquamarine;
 height: 900px;
 margin-left: 400px;
 border-radius: 30px;
}
 



