
.HeroImg{
margin-top: 200px;
width:650px;
height:600px;
margin-left: 20px;
margin-right: 50px;
margin-bottom: -550px;

}
 
.list{
color:black;
/*margin-left: 70px;*/
font:'poppins' sans-serif;

font-size:30px;
font-weight:bold;
text-align: start;


}



i {
color:green;
width:60px;
margin-left: 20px;

}


.header-message{
text-align: start;
color:#161c70;
/*margin-left: 400px;*/
font-size:80px;
font-weight:bold;

}

h2{
    color:#182E58;
    margin-left:400px;
    font-size: 44px;
    margin-bottom:-50px;
}
.Hero-grid{
    margin: 200px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top:0;
    
    

}

.Hero-image{
    margin-top:0;
    flex-basis:50%;
    margin-left:60px;
    
    width:100px;

}
.text{
    flex-basis:50%;
    color:black;
    list-style-type: none;
    /*margin-left: 70px;*/
    font-size: 20px;
    margin-bottom: -500px;
    text-align: start;
}
    
button{
    border-radius: 20px;
    font-size: 25px;
    color:white;
    padding: 24px;
    padding-left:20px;
    padding-right:20px;
    margin-left:50px;
}

.title-platform{
color:#161c70;
font-weight:bold;
margin-left: 70px;
text-align: start;

}

p{
    color:#161c70;
    font-size:27px;
    margin-left: 70px;
    font-weight:bold;
    
}

.registerButton{
    display:flex;
}

@media (max-width : 1300px){
    .HeroImg{
        width:500px; height: 400px; margin-bottom:-60; }
        .header-message{
            font-size: 48px;
            margin-top: 80px;
        }
        .title-platform{
            font-size:33px ;
        }
        .list{
            font-size:27px;
        }
        p{
            font-size: 20px;
        }
        .text{
            padding:28px;
        }
} 


@media (max-width: 768px) {
    .HeroImg{width:390px; height: 350px; margin-bottom:13px; margin-top:12px;}
    
.Hero-image{
    flex-basis: 0;
    margin-bottom: 14px;

}
.text{
 

    flex-basis: 0;

}
.Hero-grid{
    display: inline;
}

}
