
.HeroImg{
margin-top: 150px;
width:650px;
height:550px;
margin-left: 20px;
margin-right: 50px;
margin-bottom: -105px;

}
 
.list{
color:black;
margin-left: 70px;
font:'poppins' sans-serif;
/*padding-left: 320px;*/
font-size:25px;
font-weight:bold;


}



i {
color:green;
width:50px;
margin-left: 20px;

}


.header-message{

color:#282EA4;
margin-left: 380px;
font-size:40px;
font-weight:bold;
margin-top: 30px;
}

h2{
    color:#182E58;
    margin-left:380px;
    font-size: 44px;
    margin-bottom:-50px;
}
.Hero-grid{
    margin: 200px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top:0;
    
    

}

.Hero-image{
    margin-top:0;
    flex-basis:40%;
    margin-left:60px;
    
    width:100px;

}
.text{
    flex-basis:60%;
    color:black;
    list-style-type: none;
    margin-left: 70px;
    font-size: 20px;
}
    


.title-platform{
color:#3614F6;
font-weight:bold;

}

p{
    color:#ED5454;
    font-size:24px;
}

.registerButton{
    padding: 30px;
    font-size: 15px;
}
