
.HeroImg{
margin-top: 200px;
width:650px;
height:600px;
margin-left: 20px;
margin-right: 50px;
margin-bottom: -550px;

}
 
.list{
color:black;
/*margin-left: 70px;*/
font:'poppins' sans-serif;

font-size:30px;
font-weight:bold;
text-align: start;


}



i {
color:green;
width:60px;
margin-left: 20px;

}


.header-message{
text-align: start;
color:#161c70;
/*margin-left: 400px;*/
font-size:80px;
font-weight:bold;

}

h2{
    color:#182E58;
    margin-left:400px;
    font-size: 44px;
    margin-bottom:-50px;
}
.Hero-grid{
    margin: 200px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top:0;
    
    

}

.Hero-image{
    margin-top:0;
    flex-basis:50%;
    margin-left:60px;
    
    width:100px;

}
.text{
    flex-basis:50%;
    color:black;
    list-style-type: none;
    /*margin-left: 70px;*/
    font-size: 20px;
    margin-bottom: -500px;
    text-align: start;
}
    
button{
    border-radius: 20px;
    font-size: 25px;
    color:white;
    padding: 24px;
    padding-left:20px;
    padding-right:20px;
    margin-left:50px;
}

.title-platform{
color:#161c70;
font-weight:bold;
margin-left: 70px;
text-align: start;

}

p{
    color:#161c70;
    font-size:27px;
    margin-left: 70px;
    font-weight:bold;
    
}

.registerButton{
    display:flex;
}

@media (max-width : 1300px){
    .HeroImg{
        width:350px; height: 400px; margin-bottom:-60; margin-left:0; }
        .header-message{
            font-size: 48px;
            margin-top: 20px;

        }
        .title-platform{
            font-size:33px ;
        }
        .list{
            font-size:27px;
        }
        p{
            font-size: 20px;
        }
        .text{
            padding:28px;
        }
} 


@media (max-width: 768px) {
    .HeroImg{width:390px; height: 350px; margin-bottom:13px; margin-top:12px;}
    
.Hero-image{
    flex-basis: 0;
    margin-bottom: 14px;

}
.text{
 

    flex-basis: 0;

}
.Hero-grid{
    display: inline;
}

}

/* screen size */

/* mobile */
/*Small mobile*/
@media (min-width: 320px) and (max-width : 480px)
{    .HeroImg{width:350px; height: 250px;}
    .Hero-image{
    width:250px;
     height: 200px;
     margin-bottom:21px;
     margin-left:0; 
    
}
}


/* Large mobile */

@media (min-width: 481px) and (max-width : 599px)
{
    .HeroImg{margin-bottom:1px; width:350px; height: 300px;}
    .Hero-image{
     width:350px;
     height: 300px;
     margin-bottom:2px;
     margin-left:0;
    
}
}

/* Tablets*/

/*Small tablets (Potrait)*/
@media (min-width: 600px) and (max-width : 768px)
{
    .HeroImg{width:450px; height: 300px; margin-bottom:-10px;}
    .Hero-image{
     width:450px;
     height: 300px;
     margin-bottom:-10px;
     margin-left:0;
      
    } 
    
    .Hero-grid{
    display: inline;
    }
}

/*standard tablets (Potrait)*/
@media (min-width: 768px) and (max-width : 834px)
{
    .HeroImg{margin-bottom:1px; width:450px; height: 400px; margin-top:2px;}
    .Hero-image{
     width:450px;
     height: 400px;
     margin-bottom:-10px;
     margin-left:0;
     margin-top:2px; 
    } 
    .Hero-grid{
    display: inline;
    }
    
}

/* tablets (landscape)*/
@media (min-width: 834px) and (max-width : 1024px)
{
    .HeroImg{margin-bottom:1px; width:450px; height: 400px;}
    .Hero-image{
     width:450px;
     height: 400px;
     margin-bottom:10px;
     margin-left:0;
      
    } 
}

/*Large tablets (landscape)*/
@media (min-width: 1024px) and (max-width : 1280px)
{
    .HeroImg{width:450px; height: 400px; }
    
     .Hero-image{
     width:450px;
     height: 400px;
     margin-bottom:10px;
     margin-left:0;
      
    } 
}





/*Desktop Standard*/
@media (min-width: 1280px) and (max-width : 1439px)
{
.HeroImg{width:550px; height: 450px; }
.Hero-image{
     width:450px;
     height: 400px;
     margin-bottom:10px;
     margin-left:0;
      
    } 
}

/*Desktop large*/
@media (min-width: 1440px) and (max-width : 1919px)
{
    background-color: green;
}
/*Ultra-wide*/
@media (min-width: 1920px)
{
    background-color: grey;
    
}
