.LeaveForm{
    display:flex;
    width:100%;
    height:100%;
}
.sidebar{
    flex-basis: 10%;
    height:980px;
    color:#ffffff;
    width:300px;
}

form{
    flex-basis:75%;
    padding-left:30px;
}

label{
    font-size: 25px;
    color:#161c70;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.form-division{
    display:flex;
    margin-top: 40px;
}
.left-form{
    flex-basis: 50%;
}
.right-form{
    flex-basis: 50%;
}

input{
    height: 20px;
    
    border:none;
    font-size: 17px;
    border-bottom: 2px solid #161c70 ;
    margin-top: 40px;
    margin-top: 20px;
}

button{
    background-color: #161c70;
    color:#ffff;
    padding:20px 0 20px 0;
}
.heading{
    color:#161c70;
    text-align: center;
}
.upload{
    border-style: solid;
    border-color: #161c70;
    border-radius: 10px;
    font-size:20px;
    margin-left:10px;
    padding:9px;
}