/*.Hero-grid{
    display:grid;
}*/
.HeroImg{
margin-top: 150px;
width:650px;
height:550px;
margin-left: 20px;
margin-right: 50px;

}

.text{
color:#282EA4;
margin-left: 70px;
font:'poppins' sans-serif;
padding-left: 320px;

}

.checkmark{
width:40px;
margin-left: 20px;
}


.header-message{
color:blue;
margin-left: 280px;
font-size:40px;
font-weight:bold;
margin-top: 20px;
}

h2{
    color:green;
    margin-left:280px;
    font-size: 44px;
}
.Hero-grid{
    margin: 200px auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top:0;
    
    

}

.Hero-image{
    margin-top:0;
    flex-basis:40%;
    margin-left:60px;
    
    width:100px;

}
.text{
    flex-basis:60%;
    color:black;
    list-style-type: none;
    margin-left: 70px;
    font-size: 20px;
}
    
button{
    border-radius: 20px;
    font-size: 25px;
    color:white;
    padding: 24px;
    padding-left:20px;
    padding-right:20px;
    margin-left:50px;
}

.title-platform{
color:#282EA4;
}

p{
    color:red;
}
