.sidebar{
    background-color: #161c70;
    color:white;
    width: 500px;
    height: 100%;
}

li{
    text-align: start;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;

}
.logo{
    color:white;
    margin: 30px;
}
Link{
    color:white;
    text-decoration: none;
}