.sidebar{
    background-color: #161c70;
    color:white;
    width: 300px;
    height: 100%;
}

li{
    
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;

}
li:hover{
    color:yellow;
}

.logo{
    color:white;
    margin: 30px;
}

i{
    color:white;
}
